<template>
    <div>
        <v-row>
            <v-col class="text-center">
                <h1>История изменений {{getID}}</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="6" v-for="pr in profiles" :key="pr">
                <div class="pa-3 text-center profile-card">
                    <h3>{{pr.split("__")[0].split("slopes--")[1]}}</h3>
                    <v-img :src="`/gruff_images/${pr}.png`"/>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>

    import axios from "axios"

    export default {
        name: "History",
        data(){
          return {
              profiles: []
          }
        },
        computed: {
            getID: function () {
                return this.$route.params.id
            }
        },
        mounted() {
            this.getHistory()
        },
        methods: {
            getHistory: function () {
                axios
                    .get(`http://176.62.178.146:3000/profiles/${this.getID}/history`)
                    .then(response => {
                        this.profiles = response.data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        }
    }
</script>

<style scoped>

</style>
