<template>
    <div>
        <v-row>
            <v-col>
                <h1>Отчеты</h1>
            </v-col>
        </v-row>
        <v-row v-for="r in reports" :key="r.name">
            <v-col class="title">
                <router-link :to="`/reports/${r.name}`">{{r.name}}</router-link>
            </v-col>
        </v-row>
        <v-row :key="update_key" v-if="false">
            <v-col cols="12">
                <h2>Профили "{{current_report}}"</h2>
            </v-col>
            <v-col cols="12">
                <RoadCont :report="current_report" :profile="pr" v-for="pr in profiles" :key="pr"></RoadCont>
            </v-col>
        </v-row>
    </div>
</template>

<script>

    import axios from "axios";
    import RoadCont from "../components/RoadCont";

    export default {
        components: {RoadCont},
        data() {
            return {
                reports: [],
                profiles: [],
                current_report: "",
                update_key: 1
            }
        },
        mounted() {
            this.getReports()
        },
        methods: {
            getReports: function () {
                axios
                    .get(`http://176.62.178.146:3000/reports`)
                    .then(response => {
                        console.log("DATA REPORTS", response.data);
                        this.reports = response.data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            clickOnReport: function (id) {
                console.log(id)
                this.current_report = id
                axios
                    .get(`http://localhost:3000/reports/${id}/profiles`)
                    .then(response => {
                        console.log("DATA PROFILES", response.data);
                        console.log("DATA PROFILES", response.data.data.splice(0, 3));
                        if (response.data.data.length > 4) {
                            this.profiles = response.data.data;
                            this.update_key = this.update_key + 1
                        } else {
                            this.profiles = []
                        }

                    })
                    .catch(e => {
                        console.log(e);
                    });
            }

        }


    }
</script>

<style scoped>
    p {
        font-size: 2em;
        text-align: center;
    }
</style>
