<template>
    <div>
        <v-row>
            <v-col class="text-center">
                <h1>Отчет <i>"{{getID}}"</i></h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="6" v-for="pr in profiles" :key="pr">
                <div class="pa-3 text-center profile-card" >
                    <h3>{{pr}} <router-link :to="`/profiles/${pr}/history`" >История</router-link></h3>
                    <v-img :src="`/gruff_images/${getID}__${pr}.png`"/>
                </div>
            </v-col>
        </v-row>

    </div>
</template>

<script>

    import axios from "axios"

    export default {
        name: "Report",
        data() {
            return {
                profiles: []
            }
        },
        computed: {
            getID: function () {
                return this.$route.params.id
            }
        },
        mounted() {
            this.getProfiles()
        },
        methods: {
            getProfiles: function () {
                axios
                    .get(`http://176.62.178.146:3000/reports/${this.getID}/profiles`)
                    .then(response => {
                        this.profiles = response.data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        }
    }
</script>

<style scoped>

</style>
