<template>
    <v-app>
        <v-container>
        <v-app-bar
                color="blue lighten"
                dense
                dark
        >
            <v-toolbar-title><router-link to="/" class="white--text text-decoration-none">Главная</router-link></v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
            </v-btn>


        </v-app-bar>
            <router-view></router-view>
        </v-container>
    </v-app>
</template>

<script>

    import axios from "axios";
    import RoadCont from "./packs/components/RoadCont";

    export default {
        components: {RoadCont},
        data() {
            return {
                reports: [],
                profiles: [],
                current_report: "",
                update_key: 1
            }
        },
        mounted() {
            this.getReports()
        },
        methods: {
            getReports: function () {
                axios
                    .get(`http://localhost:3000/reports`)
                    .then(response => {
                        console.log("DATA REPORTS", response.data);
                        this.reports = response.data.data;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            clickOnReport: function (id) {
                console.log(id)
                this.current_report = id
                axios
                    .get(`http://localhost:3000/reports/${id}/profiles`)
                    .then(response => {
                        console.log("DATA PROFILES", response.data);
                        console.log("DATA PROFILES", response.data.data.splice(0, 3));
                        if (response.data.data.length > 4) {
                            this.profiles = response.data.data;
                            this.update_key = this.update_key + 1
                        } else {
                            this.profiles = []
                        }

                    })
                    .catch(e => {
                        console.log(e);
                    });
            }

        }


    }
</script>

<style scoped>
    p {
        font-size: 2em;
        text-align: center;
    }
</style>
