<template>
    <v-col>
        <v-btn @click="getRoadProfile">Profile {{profile}}</v-btn>
        <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
                v-if="show_loader && datum.length == 0"
        ></v-progress-circular>
        <Road :datum="datum" :config="config" :key="k" v-if="datum.length > 0"></Road>
    </v-col>
</template>

<script>

    import axios from "axios";
    import Road from "./Road";

    export default {
        name: "RoadCont",
        components: {Road},
        props: {
            report: String,
            profile: String
        },
        data() {
            return {
                message: "road 20",
                datum: [],
                config: {},
                roads: [],
                k: 1,
                show_loader: false
            }
        },
        mounted(){
            // this.getRoadProfile()
        },
        methods: {
            getRoadProfile: function () {
                this.show_loader = true
                axios
                    .get(`http://localhost:3000/reports/${this.report}/profiles/${this.profile}`)
                    .then(response => {
                        console.log("DATA", response.data);
                        this.datum = response.data.data;
                        this.config = response.data.config;
                        this.k = this.k + 1
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        }
    }
</script>

<style scoped>

</style>
