<template>
    <div>
        <div id="my_dataviz" ref="my_dataviz"></div>
    </div>
</template>

<script>
    import * as d3 from "d3";

    export default {
        name: "Road",
        props: {
            datum: Array,
            config: Object
        },
        data() {
            return {}
        },
        mounted() {
            this.drawGraph()
        },
        methods: {
            drawGraph: function () {
                var margin = {top: 10, right: 30, bottom: 30, left: 60},
                    width = 1024 - margin.left - margin.right,
                    height = 400 - margin.top - margin.bottom;

                const div = this.$refs.my_dataviz
                var svg = d3.select(div)
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");


                // d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/connectedscatter.csv", function (d) {
                //     console.log("D", d)
                //     return {date: d3.timeParse("%Y-%m-%d")(d.date), value: Math.round(d.value)}
                // }).then((data) => {

                // Add X axis --> it is a date format
                console.log("DISCON", this.config)
                var x = d3.scaleLinear()
                    .domain([this.config.distance.min, this.config.distance.max])
                    .range([0, width]);
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));
                // Add Y axis
                var y = d3.scaleLinear()
                    .domain([this.config.height.min, this.config.height.max])
                    .range([height, 0]);
                svg.append("g")
                    .call(d3.axisLeft(y));
                // // Add the line
                svg.append("path")
                    .datum(this.datum)
                    .attr("fill", "none")
                    .attr("stroke", "#69b3a2")
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .x(function (d) {
                            return x(d.distance)
                        })
                        .y(function (d) {
                            return y(d.height)
                        })
                    )



                // create a tooltip
                var Tooltip = d3.select(div)
                    .append("div")
                    .style("opacity", 0)
                    .attr("class", "tooltip")
                    .style("background-color", "white")
                    .style("border", "solid")
                    .style("position", "absolute")
                    .style("border-width", "2px")
                    .style("border-radius", "5px")
                    .style("padding", "5px")

                // Three function that change the tooltip when user hover / move / leave a cell
                var mouseover = function (d) {
                    Tooltip
                        .style("opacity", 1)
                }
                var mousemove = function (d) {
                    Tooltip
                        .html("Distance: " + d.distance + ", height: " + d.height)
                        .style("left", (d3.mouse(this)[0] + 30) + "px")
                        .style("top", (d3.mouse(this)[1] + 100) + "px")
                }
                var mouseleave = function (d) {
                    Tooltip
                        .style("opacity", 0)
                }


                // Add the points


                svg
                    .append("g")
                    .selectAll("dot")
                    .data(this.datum)
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) {
                        return x(d.distance)
                    })
                    .attr("cy", function (d) {
                        return y(d.height)
                    })
                    .attr("r", 3)
                    .attr("fill", "#317db3")
                    .on("mouseover", mouseover)
                    .on("mousemove", mousemove)
                    .on("mouseleave", mouseleave)
                // })
            }
        }
    }

</script>

<style scoped>

</style>
