// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile-card{
  border: 1px solid rgba(216, 216, 216, 0.55);
  text-align: center;
}


